<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Profile Page</title>
    <style>
      #tab {
        border: 2px solid rgb(195, 208, 211);
      }
    </style>
  </head>
  <body>
    <h1>MY PROFILE</h1>
    <div class="container">
      <h3 class="text-secondary"><strong>Applicant Details</strong></h3>
      <form>
        <div class="col-md-12 card">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="f-name">User Name</label><br />
                <input
                  type="text"
                  name="f-name"
                  id="f-name"
                  [(ngModel)]="userobj.firstName"
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="First Name"
                  class="form-control"
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="l-name">Last Name</label>
                <input
                  type="text"
                  name="l-name"
                  id="l-name"
                  [(ngModel)]="userobj.lastName"
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="Last Name"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="mf-name">Mother's First Name</label><br />
                <input
                  type="text"
                  name="mf-name"
                  id="mf-name"
                  [(ngModel)]="userobj.motherFname"
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="First Name"
                  class="form-control"
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="ml-name">Last Name</label>
                <input
                  type="text"
                  name="ml-name"
                  id="ml-name"
                  [(ngModel)]="userobj.motherLname"
                  placeholder="Last Name"
                  class="form-control"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="ff-name">Father's First Name</label><br />
                <input
                  type="text"
                  name="ff-name"
                  id="ff-name"
                  [(ngModel)]="userobj.fatherFname"
                  placeholder="First Name"
                  class="form-control"
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="fl-name">Last Name</label>
                <input
                  type="text"
                  name="fl-name"
                  id="fl-name"
                  [(ngModel)]="userobj.fatherLname"
                  placeholder="Last Name"
                  class="form-control"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="Date">DOB</label>
                <input
                  type="Date"
                  name="dob"
                  id="dob"
                  class="form-control"
                  id="Date"
                  [(ngModel)]="userobj.date"
                  placeholder=""
                  required
                />
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label for="sex">Gender</label>
                <select
                  name="gender"
                  id="gender"
                  class="form-control"
                  [(ngModel)]="userobj.gender"
                >
                  <option value="null" class="dropdown">Select</option>
                  <option
                    *ngFor="let g of genders"
                    [ngValue]="g.name"
                    class="dropdown"
                  >
                    {{ g.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="cast">Caste</label>
                <select
                  name="caste"
                  id="caste"
                  class="form-control"
                  [(ngModel)]="userobj.caste"
                >
                  <option value="null" class="dropdown">Select</option>
                  <option
                    *ngFor="let cst of castes"
                    [ngValue]="cst.name"
                    class="dropdown"
                  >
                    {{ cst.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="email">Email Id</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  [(ngModel)]="userobj.email"
                  placeholder="Enter your email."
                  required
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="tel">Phone</label>
                <input
                  type="tel"
                  name="phone"
                  class="form-control"
                  id="tel"
                  [(ngModel)]="userobj.phone"
                  placeholder="Enter Your Contact Number."
                  required
                />
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <img
                id="blah"
                src="https://i.ibb.co/yNGW4gg/avatar.png"
                alt="upload Image"
                style="max-width: 180px"
              />
              <input type="file" onchange="readURL(this);" />
            </div>
          </div>
        </div>
      </form>
      <form>
        <h3 class="text-secondary"><strong>Address Details</strong></h3>
        <div class="col-md-12 card">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="present">Present Address</label>
                <textarea
                  class="form-control"
                  name="present"
                  id="present"
                  rows="1"
                  placeholder="Address Line-1"
                  [(ngModel)]="addressobj.present"
                ></textarea>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="permanent">Permanent Address</label>
                <textarea
                  class="form-control"
                  name="permanent"
                  id="permanent"
                  rows="1"
                  placeholder="Address Line-2"
                  [(ngModel)]="addressobj.permanent"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="Country">City</label>
                <select
                  class="form-control"
                  name="city"
                  id="city"
                  [(ngModel)]="addressobj.ccity"
                >
                  <option value="null">Select</option>
                  <option
                    *ngFor="let ct of cities"
                    class="dropdown"
                    [ngValue]="ct.name"
                  >
                    {{ ct.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="State">State</label>
                <select
                  class="form-control custom-select browser-default"
                  name="state"
                  id="state"
                  [(ngModel)]="addressobj.cstate"
                >
                  <option value="null">Select</option>
                  <option
                    *ngFor="let s of states"
                    class="dropdown"
                    [ngValue]="s.name"
                  >
                    {{ s.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="Country">City</label>
                <select
                  class="form-control"
                  name="city"
                  id="city"
                  [(ngModel)]="addressobj.pcity"
                >
                  <option value="null">Select</option>
                  <option
                    *ngFor="let ct of cities"
                    class="dropdown"
                    [ngValue]="ct.name"
                  >
                    {{ ct.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="State">State</label>
                <select
                  class="form-control custom-select browser-default"
                  name="state"
                  id="state"
                  [(ngModel)]="addressobj.pstate"
                >
                  <option value="null">Select</option>
                  <option
                    *ngFor="let s of states"
                    class="dropdown"
                    [ngValue]="s.name"
                  >
                    {{ s.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="Country">Country</label>
                <select
                  class="form-control"
                  name="Country"
                  id="Country"
                  tabindex="1"
                  [(ngModel)]="addressobj.ccountry"
                >
                  <option value="null">Select</option>
                  <option
                    *ngFor="let c of country"
                    class="dropdown"
                    [ngValue]="c.name"
                  >
                    {{ c.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="pincode">PIN Code</label>
                <input
                  type="text"
                  class="form-control"
                  id="code"
                  name="code"
                  [(ngModel)]="addressobj.cpincode"
                  placeholder="Pincode"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="Country">Country</label>
                <select
                  class="form-control"
                  name="Country"
                  id="Country"
                  tabindex="1"
                  [(ngModel)]="addressobj.pcountry"
                >
                  <option value="null">Select</option>
                  <option
                    *ngFor="let c of country"
                    class="dropdown"
                    [ngValue]="c.name"
                  >
                    {{ c.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="pincode">PIN Code</label>
                <input
                  type="text"
                  class="form-control"
                  id="pin"
                  name="pin"
                  [(ngModel)]="addressobj.ppincode"
                  placeholder="Pincode"
                />
              </div>
            </div>
          </div>
        </div>
      </form>



      <h3 class="text-secondary"><strong>Qualifications</strong></h3>
      
      <form class="">
        <div class="row">
          <div class="col-sm-12 card">
            <div class="row">
              <div class="col-12 text-right">
                <button
              type="button"
              class="btn btn-primary mt-3"
              (click) = "onClickAdd()"
            >
              Add
            </button>
              </div>
            </div>
            
            <table class="table-bordered">
              <tr>
                <th>Examination Type</th>
                <th>Total Mark</th>
                <th>Mark Secure</th>
                <th>Percentage</th>
                <th>Year Of Passing</th>
                <th>Institute Name</th>
                <th>Action</th>
              </tr>
              <tr *ngFor="let item of educationData; index as i">
                <td>{{item.examType}}</td>
                <td>{{item.totalMark}}</td>
                <td>{{item.markSecure}}</td>
                <td>{{item.percentage}}</td>
                <td>{{item.yearOfPassing}}</td>
                <td>{{item.instituteName}}</td>
                <td>
                  <div class="row">
                    <div class="col-sm-2">
                      <button class="btn btn-success btn-sm" (click) = "onClickAdd()">Edit</button>
                  </div>
                    <div class="col-sm-1">
                  </div>
                  <div class="col-sm-1">
                      <button class="btn btn-danger btn-sm" (click) = "onDeleteItem(i)">Delete</button>
                  </div>
                  </div>
                </td>
              </tr>
            </table>
            
            <!-- <table id="tab" class="mt-5 ml-auto mr-auto">
              <tr id="tab">
                <th id="tab">SI NO.</th>
                <th>Examination</th>
                <th style="text-align: center">Board</th>
                <th style="text-align: center">Percentage</th>
                <th style="text-align: center">Year Of Passing</th>
              </tr>
              <tr>
                <td id="tab">1</td>
                <td>Class X</td>
                <td>
                  <input type="text" class="form-control" id="firstname" />
                </td>
                <td>
                  <input type="text" class="form-control" id="firstname" />
                </td>
                <td>
                  <input type="text" class="form-control" id="firstname" />
                </td>
              </tr>
              <tr>
                <td id="tab">2</td>
                <td>Class XII</td>
                <td>
                  <input type="text" class="form-control" id="firstname" />
                </td>
                <td>
                  <input type="text" class="form-control" id="firstname" />
                </td>
                <td>
                  <input type="text" class="form-control" id="firstname" />
                </td>
              </tr>
              <tr>
                <td id="tab">3</td>
                <td>Graduation</td>
                <td>
                  <input type="text" class="form-control" id="firstname" />
                </td>
                <td>
                  <input type="text" class="form-control" id="firstname" />
                </td>
                <td>
                  <input type="text" class="form-control" id="firstname" />
                </td>
              </tr>
              <tr>
                <td id="tab">4</td>
                <td>Masters</td>
                <td>
                  <input type="text" class="form-control" id="firstname" />
                </td>
                <td>
                  <input type="text" class="form-control" id="firstname" />
                </td>
                <td>
                  <input type="text" class="form-control" id="firstname" />
                </td>
              </tr>
              <tr id="tab">
                <td></td>
                <td></td>
                <td id="all">(10 chac max)</td>
                <td id="all">(upto 2 decimal)</td>
              </tr>
            </table> -->
            <br />
            <br />
          </div>

          <!-- <form class="form-horizontal">
            <div class="col-sm-10" style="text-align: right">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-default">Reset</button>
            </div>
          </form> -->
        </div>
        <div class="cols-sm-12" style="text-align: right">
          <button type="submit" class="btn btn-primary" (click)="onSubmit()">
            Submit
          </button>
        </div>
      </form>
      <div class="modal fade" id="educationalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Qualification Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click) = "onClickCancel()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-sm-4">
                        <label>Exam Type</label>
                        <select name="exam" id="exam" [(ngModel)] = "eduObj.examType">
                          <option value="null">Select</option>
                          <option *ngFor = "let ex of exams" [value] = "ex.name">{{ex.name}}</option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <label>Total Mark</label>
                        <input type="text" class="form-control" id="total" name="total" [(ngModel)] = "eduObj.totalMark">
                      </div>
                      <div class="col-sm-4">
                        <label>Mark Secure</label>
                        <input type="text" class="form-control" id="mark" name="mark" [(ngModel)] = "eduObj.markSecure">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                        <label>Percentage</label>
                        <input type="text" class="form-control" id="percentage" name="percentage" [(ngModel)]="eduObj.percentage">
                      </div>
                      <div class="col-sm-4">
                        <label>Year Of Passing</label>
                        <input type="text" class="form-control" id="yearofPassing" name="yearofPassing" 
                        [(ngModel)] = "eduObj.yearOfPassing">
                      </div>
                      <div class="col-sm-4">
                        <label>Institute Name</label>
                        <input type="text" class="form-control" id="institute" name="institute" [(ngModel)] = "eduObj.instituteName">
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click) = "onClickCancel()">Cancel</button>
              <button type="button" class="btn btn-primary" (click) = "onModalSubmit(eduObj)">Submit</button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
    </div>
    <script></script>
  </body>
</html>
